@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply font-mono;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1 {
    @apply font-bold;
    @apply text-5xl;
  }
  h2 {
    @apply text-xl;
  }
}

#mastercam{
	background: #414141 url(/backgrounds/circuits.gif) no-repeat;
	background-size:contain;
}

/*** BUTTONS ***/
button {
  display:inline-block;
}

.buttons li{
	display:inline-block;
}

.buttons{
	width:100%;
	margin:0 auto 0 auto;
}

.buttonLikeImage{
	width:200px;
	height:70px;
	margin:20px;
}

.buttonLikeImage:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.blueButton{
	width:300px;
	height:70px;
	margin:20px;
  @apply text-center;
  @apply bg-blue-500;
	border:solid medium #3b82f6;
}
.blueButton h2{
	color:#FFF;
	margin:17px 0;
}
.blueButton:hover{
	background-color:transparent;
	border:solid medium #3b82f6;
	color:#3b82f6;
}
.blueButton:hover h2{
	color:#3b82f6;
}


.redButton{
	width:250px;
	height:70px;
	margin:20px;
  @apply text-center;
	background-color:#c01421;
	border:solid medium #c01421;
}
.redButton h2{
	color:#FFF;
	margin:17px 0;
}
.redButton:hover{
	background-color:transparent;
	border:solid medium #c01421;
	color:#c01421;
}
.redButton:hover h2{
	color:#c01421;
}

.btn-block{
	max-width:350px;
	min-height:70px;
	margin:20px;
}
.orangeButton{
	padding:0 20px;
  @apply text-center;
	background-color:#ff8900;
	border:solid medium #ff8900;
}
.orangeButton h2{
	color:#FFF;
	margin:17px 0;
}
.orangeButton:hover{
	background-color:transparent;
	border:solid medium #ff8900;
	color:#ff8900;
}
.orangeButton:hover h2{
	color:#ff8900;
}